<nav
  class="
    border-bottom border-2
    sticky-top
    navbar navbar-expand navbar-light
    bg-light
  "
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="assets/images/weidmueller_logo.svg"
        alt="Logo"
        class="d-inline-block mx-3"
        height="30px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="m-4 p-2 border border-2 rounded-3">
  <div class="row">
    <span class="col-3">Field Device: </span>
    <span class="col-3">Uptime: </span>
    <span class="col-3">Pending Alarms: </span>
    <span class="col-3">Storage: </span>
  </div>
  <div class="row">
    <span class="col-3">Certificate: </span>
    <span class="col-3">Resets: </span>
    <span class="col-3">Notifications: </span>
    <span class="col-3">Signal Strength: </span>
  </div>
</div>

<div class="col-2 m-4 bg-light rounded-3">
  <ul class="nav nav-pills flex-column d-flex ">
    <li class="row d-flex nav-item p-0 mb-1 mb-sm-2">
      <a
        href="#"
        class="nav-link border border-2 rounded-4"
        aria-current="page"
      >
        <div class="row d-flex justify-content-center">
          <img
            src="assets/images/round-router.svg"
            class="img-fluid w-50"
            height="10"
            width="10"
          />
        </div>

        <span class="fs-4 d-flex justify-content-center">Device</span>
      </a>
    </li>

  </ul>
  <hr />
</div>

<footer>
<hr/>
</footer>