<nav
  class="
    border-bottom border-2
    sticky-top
    navbar navbar-expand navbar-light
    bg-light
  "
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="assets/images/weidmueller_logo.svg"
        alt="Logo"
        class="d-inline-block mx-3"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="m-4 p-2 border border-2 rounded-3">
  <div class="row">
    <span class="col-3">Field Device: </span>
    <span class="col-3">Uptime: </span>
    <span class="col-3">Pending Alarms: </span>
    <span class="col-3">Storage: </span>
  </div>
  <div class="row">
    <span class="col-3">Certificate: </span>
    <span class="col-3">Resets: </span>
    <span class="col-3">Notifications: </span>
    <span class="col-3">Signal Strength: </span>
  </div>
</div>
<div class="m-4 bg-white row col-sm-2 p-0">
  <div class="list-group list-group-flush flex-sm-column flex-row m-0 p-0">
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        p-auto
        lh-tight
        border border-2
        rounded-4
        mb-2

        d-block
        align-items-center
        text-center
        me-1
      "
    >
    <div class="row d-flex justify-content-center">
      <img
        src="assets/images/round-router.svg"
        class="img-fluid imgnav"
                width="48"
        height="48"
      />
    </div>
      <span class="imgnavtext imgnavtext">Device</span>
 
    </a>
    
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        py-3
        lh-tight
        border border-2
        rounded-4
        mb-2
        text-center
        me-1
      "
    >
      <div class="row d-flex justify-content-center">
        <img
          src="assets/images/database.svg"
          class="img-fluid imgnav"
          width="48"
          height="48"
        />
      </div>

      <span class="imgnavtext">Data</span>
    </a>
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        py-3
        lh-tight
        border border-2
        rounded-4
        mb-2
        text-center
        me-1
      "
    >
      <div class="row d-flex justify-content-center">
        <img
          src="assets/images/network-2.svg"
          class="img-fluid imgnav"
          width="48"
          height="48"
        />
      </div>

      <span class="small d-inline-block fs-6 fs-sm-3">Network</span>
    </a>
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        py-3
        lh-tight
        border border-2
        rounded-4
        mb-2
        text-center
        me-1
      "
    >
      <div class="row d-flex justify-content-center">
        <img
          src="assets/images/cloud.svg"
          class="img-fluid imgnav"
          width="48"
          height="48"
        />
      </div>

      <span class="small d-inline-block fs-6 fs-sm-3">Cloud</span>
    </a>
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        py-3
        lh-tight
        border border-2
        rounded-4
        mb-2
        text-center
        me-1
      "
    >
      <div class="row d-flex justify-content-center">
        <img
          src="assets/images/app-folder.svg"
          class="img-fluid imgnav"
          width="48"
          height="48"
        />
      </div>

      <span class="small d-inline-block fs-6 fs-sm-3">Apps</span>
    </a>
  </div>
  <hr />
</div>

<footer>
  <hr />
</footer>
