.imgnav {
  max-width: 4em;
  min-width: 1em;
}

.imgnavtext {
  font-size: 0.5rem;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
  padding: 15px;
}

.tab-content .tab-pane {
  background-color: #fff;
  color: #0080ff;
  min-height: 200px;
  height: auto;
}
