<nav
  class="
    border-bottom border-2
    sticky-top
    navbar navbar-expand navbar-light
    bg-light
  "
>
  <div class="container-fluid">
    <a class="navbar-brand align-items-center" href="#">
      <img src="assets/images/weidmueller_logo.svg" class="img-fluid w-75"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid p-0 d-flex">
  <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 5rem;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a
          routerLink="/device"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link py-3 border-bottom rounded-0"
          title="Device"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          trigger='hover'
        >
          <img
            class="img-fluid"
            src="/assets/images/round-router.svg"
            width="32"
            height="32"
          />
        </a>
      </li>
      <li>
        <a
          routerLink="/data"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link py-3 border-bottom rounded-0"
          title="Data"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <img
            class="img-fluid"
            src="/assets/images/database.svg"
            width="32"
            height="32"
          />
        </a>
      </li>
      <li>
        <a
          routerLink="/network"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link py-3 border-bottom rounded-0"
          title="Network"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <img
            class="img-fluid"
            src="/assets/images/network-2.svg"
            width="32"
            height="32"
          />
        </a>
      </li>
      <li>
        <a
          routerLink="/cloud"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link py-3 border-bottom rounded-0"
          title="Cloud"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <img
            class="img-fluid"
            src="/assets/images/cloud.svg"
            width="32"
            height="32"
          />
        </a>
      </li>
      <li>
        <a
          routerLink="/apps"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="nav-link py-3 border-bottom rounded-0"
          title="Apps"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <img
            class="img-fluid"
            src="/assets/images/app-folder.svg"
            width="32"
            height="32"
          />
        </a>
      </li>
    </ul>
  </div>
  <div class="border border-2 flex-fill bg-light">
    <ng-container *ngTemplateOutlet="templateRef"></ng-container>
  </div>
</div>
<footer>
  <hr />
</footer>
