<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <strong>Eth0</strong>
        <br />
      </div>

      <div class="container text-center">
        <div class="input-group mb-2">
          <br />
          <span class="input-group-text" id="basic-addon1">Static IP</span>
          <input
            type="text"
            class="form-control"
            placeholder="192.168.x.x"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Subnet </span>
          <input
            type="text"
            class="form-control"
            placeholder="255.255.x.x"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Mac Address</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Static Router</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Static Domain</span>
          <input
            type="text"
            class="form-control"
            placeholder="8.8.8.8"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Gateway</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3">
        <strong>Eth1</strong>
        <br />
      </div>

      <div class="container text-center">
        <div class="input-group mb-2">
          <br />
          <span class="input-group-text" id="basic-addon1">Static IP</span>
          <input
            type="text"
            class="form-control"
            placeholder="192.168.x.x"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Subnet </span>
          <input
            type="text"
            class="form-control"
            placeholder="255.255.x.x"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Mac Address</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Static Router</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Static Domain</span>
          <input
            type="text"
            class="form-control"
            placeholder="8.8.8.8"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text" id="basic-addon1">Gateway</span>
          <input
            type="text"
            class="form-control"
            placeholder=""
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
          <br />
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="input-group mb-3">
            <br />
            <strong>Wifi</strong>
            <br />
          </div>

          <div class="container text-center">
            <div class="input-group mb-2">
              <br />
              <span class="input-group-text" id="basic-addon1">Wifi IP</span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-2">
              <br />
              <span class="input-group-text" id="basic-addon1">SSID</span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>

            <div class="input-group mb-2">
              <span class="input-group-text" id="basic-addon1">Password </span>
              <input
                type="text"
                class="form-control"
                placeholder="*******"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <strong>Cellular</strong>
            <br />
          </div>

          <div class="container text-center">
            <div class="input-group mb-2">
              <br />
              <span class="input-group-text" id="basic-addon1">Carrier</span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>

            <div class="input-group mb-2">
              <span class="input-group-text" id="basic-addon1">ID </span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <div class="input-group mb-2">
              <span class="input-group-text" id="basic-addon1"> </span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-dark me-md-2" type="button">Save</button>
        <button class="btn btn-dark" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
