<div class="d-flex flex-column h-100">
  <app-nav></app-nav>

  <main class="p-0 d-flex">
    <div class="d-flex flex-column flex-shrink-0 bg-light sidebar">
      <ul class="nav nav-pills nav-flush flex-column text-center">
        <li class="nav-item">
          <a
            routerLink="/device"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link py-3 border-bottom rounded-0"
            title="Device"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <img
              class="img-fluid"
              src="/assets/images/round-router.svg"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            routerLink="/data"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link py-3 border-bottom rounded-0"
            title="Data"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <img
              class="img-fluid"
              src="/assets/images/database.svg"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            routerLink="/network"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link py-3 border-bottom rounded-0"
            title="Network"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <img
              class="img-fluid"
              src="/assets/images/network-2.svg"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            routerLink="/cloud"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link py-3 border-bottom rounded-0"
            title="Cloud"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <img
              class="img-fluid"
              src="/assets/images/cloud.svg"
              width="32"
              height="32"
            />
          </a>
        </li>
        <li>
          <a
            routerLink="/apps"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="nav-link py-3 border-bottom rounded-0"
            title="Apps"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <img
              class="img-fluid"
              src="/assets/images/app-folder.svg"
              width="32"
              height="32"
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-fill container content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="footer mt-auto py-3 px-0 mx-0 bg-light static-bottom">
    <div class="container-fluid">
      <span class="text-muted">Weidmueller</span>
    </div>
  </footer>
</div>
