<div class="row">
  <div class="col">
    <div
      class="card"
      style="width: 15rem;background-color:lightgrey;border-style:solid;border-color:lightgrey;"
    >
      <img src="../assets/images/node-red-icon-2.png" class="card-img-top" />
      <div class="card-body">
        <h6 class="card-title"><strong>Node Red</strong></h6>
        <p class="card-text" style="font-size:small;">
          Flow-based development tool for visual programming, it provides a web
          browser-based flow editor, which can be used to create JavaScript
          functions.
        </p>
        <a
          href="https://nodered.org/"
          class="btn btn-primary"
          style="background-color:grey"
          >Go
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div
      class="card"
      style="width: 15rem;background-color:lightgrey;border-style:solid;border-color:lightgrey;"
    >
      <img src="../assets/images/docker-logo.png" class="card-img-top" alt="" />
      <div class="card-body">
        <h6 class="card-title"><strong>Docker</strong></h6>
        <p class="card-text" style="font-size:small;">
          Docker is a set of platform as a service products that use OS-level
          virtualization to deliver software in packages called
          containers.Docker can use different interfaces.
        </p>

        <a
          href="https://www.docker.com/"
          class="btn btn-primary"
          style="background-color:grey"
          >Go
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div
      class="card"
      style="width: 15rem;background-color:lightgrey;border-style:solid;border-color:lightgrey;margin-top:50px"
    >
      <img
        src="../assets/images/losant-logo.png"
        class="card-img-top"
        alt="2"
      />
      <div class="card-body">
        <h6 class="card-title"><strong>Losant</strong></h6>
        <p class="card-text" style="font-size:small;">
          Losant IoT is a Cincinnati, Ohio-based company that provides
          enterprise-level IoT software for application enablement. In 2015
          Losant was a member of the inaugural class of Techstars’ first
          Internet of Things accelerator.
        </p>
        <a
          href="https://www.losant.com/"
          class="btn btn-primary"
          style="background-color:grey"
          >Go
        </a>
      </div>
    </div>
  </div>
</div>
