html,
body {
  min-height: 100%;
}
:host {
  height: 100%;
  min-height: 100%;
}
main {
  height: 100%;
}

.sidebar {
  width: 4.5rem;
}

.content {
  height: calc(100vh - 60.98px - 56px);
  overflow-y: scroll;
}
